@media screen and (max-width: 768px) {
    .calendar_container {
        width: 70%;
    }

    .accordion_list {
        width: 70%;
    }

    .prestation_title {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 40px;
        width: 40%;
    }

    .calendar .prestation_title {
        width: 70%;
    }

    .accordion_list .prestation_title {
        width: 100%;
    }
}

@media screen and (min-width: 1024px) {
    #logo, footer img {
        width: 40%;
        height: auto;
    }
}
@media screen and (min-width: 768px){
    article {
        width: 40%;
    }
}