/*----------HEADER----------*/
body, html {
    overflow-x: hidden;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-top: 30px;
}

#logo {
    width: 70%;
    height: auto;
}

.pink_line {
    width: 18px;
    height: 3px;
    border-radius: 25%;
    background-color: var(--accent-color);
    margin-top: 10px;
}

/*----------MAIN----------*/

h1 {
    font-family: var(--font-h1);
    font-size: 1.5rem;
    color: var(--primary-color);
}

h2 {
    font-family: var(--font-h1);
    font-size: 1rem;
    color: var(--accent-color);
    margin-bottom: 10px;
    padding-left: 4px;
}

sup {
    font-size: 0.8rem;
    vertical-align: top;
    position: relative;
    top: 0.1em;
}

h3 {
    font-family: 'quicksand', sans-serif;
    font-weight: 300;
    font-size: 0.8rem;
    text-align: center;
    color: var(--primary-color);
    margin-top: 20px;
    letter-spacing: 0.79em;
    line-height: 1.4rem;
    padding-left: 5px;
}

.hero {
    position: relative;
    width: 100%;
    height: 100%;
    margin-top: 50px;
    z-index: 0;
    
}

#light_flower {
    width: 30%;
    height: auto;
    position: absolute;
    left: -15%;
    top: -20px;
    overflow-x: hidden;
}

#light_flower_2 {
    width: 30%;
    height: auto;
    position: absolute;
    left: 85%;
    top: -20px;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
    font-family: var(--font-h3);
    height: auto;
    
}
.articles {
    margin-top: 40px;
}
a {
    background-color: var(--secondary-color);
    padding: 15px 30px;
    border-radius: 10px;
    color: var(--primary-color);
    border: solid 2px var(--primary-color);
}

#btn_plus {
    margin-top: 20px;
    background-color: white;
    padding: 15px 62px;
}

#arrow {
    margin-top: 80px;
}

main {
    background: linear-gradient(to bottom, transparent, var(--secondary-color));
    height: auto;
}

article {
    display: grid;
    grid-template-columns: 20% 70%;
    grid-template-rows: 1fr auto;
    background-color: white;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    z-index: 2;
    height: auto;
    margin-bottom: 35px;
    margin: 45px;
}

#flower_round {
    width: 100%;
    height: auto;
    grid-column: 1;
    grid-row: 1;
    display: flex;
    align-self: center;
    padding: 10px;
}

article h3 {
    grid-column: 2;
    grid-row: 1;
    padding: 10px;
    letter-spacing: 0.2em;
    font-size: 0.9rem;
    align-self: center;
    margin: 0px;
}

article p {
    grid-column: 2;
    grid-row: 2;
    padding-left: 8px;
    padding-bottom: 20px;
    font-family: var(--font-h3);
    color: var(--primary-color);
    font-size: 0.7em;
}