

/*----------Fonts----------*/


/*----------CORMORANT----------*/
@font-face {
  font-family: 'cormorant Regular';
  src: url('../fonts/Cormorant/Cormorant-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'cormorant bold';
  src: url('../fonts/Cormorant/Cormorant-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

/*----------QUICKSAND----------*/

@font-face {
  font-family: 'quicksand Regular';
  src: url('../fonts/Quicksand/Quicksand-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'quicksand bold';
  src: url('../fonts/Quicksand/Quicksand-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}


@font-face {
  font-family: 'quicksand light';
  src: url('../fonts/Quicksand/Quicksand-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}